.contents
  .contents_side
    = render partial: "messages/side_bar"
  .contents_main
    .contents_main--header
      %h1.group-name
        group.name
        .btn-edit
          %a{href: "/groups/#{}/edit"}
            .p edit
        .group-members
          = current_user.name
    .contents_main--body
      = render partial: "messages/messages"
    .contents_main--footer
      %form.message-form
        %input.message-text{placeholder: "type a message", type: "text"}
        .image-form
          %i.fa.fa-picture-o.icon
        %input.message-submit{type: "submit", value: "Send", class: "submit"}

 .main__chat__form
      = form_for [@group, @message] do |f|
        = f.text_area :content
        .main__chat__form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'main__chat__form__submit'
